.animated-lines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.animated-lines svg {
    width: 100%;
    height: 100%;
}

.line {
    fill: none;
    stroke: #000000;
    stroke-width: 1;
    opacity: 0.15;
    stroke-linecap: round;
    transition: d 2s ease-in-out;
}
